#hero {
    width: 100%;
    height: 80vh;
    background: #fff;
}

    #hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #3e4450;
    }

    #hero h2 {
        color: #858ea1;
        margin: 10px 0 30px 0;
        font-size: 24px;
    }

    #hero .btn-get-started {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 30px 10px 30px;
        border-radius: 4px;
        transition: 0.5s;
        color: #fff;
        background: #16df7e;
        box-shadow: 0 8px 28px rgba(22, 223, 126, 0.45);
    }

        #hero .btn-get-started:hover {
            background: #206bfb;
            box-shadow: 0 8px 28px rgba(32, 107, 251, 0.45);
        }

    #hero .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }

@media (max-width: 991px) {
    #hero {
        height: 100vh;
    }

        #hero .animated {
            -webkit-animation: none;
            animation: none;
        }

        #hero .hero-img {
            text-align: center;
        }

            #hero .hero-img img {
                width: 50%;
            }
}

@media (max-width: 768px) {
    #hero {
        height: auto;
    }

        #hero h1 {
            font-size: 28px;
            line-height: 36px;
        }

        #hero h2 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
        }

        #hero .hero-img img {
            width: 70%;
        }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}



section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f9f9fa;
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #5f687b;
        position: relative;
        z-index: 2;
    }

    .section-title span {
        position: absolute;
        top: 30px;
        color: #f0f1f3;
        left: 0;
        right: 0;
        z-index: 1;
        font-weight: 700;
        font-size: 52px;
        text-transform: uppercase;
        line-height: 0;
    }

    .section-title p {
        margin-bottom: 0;
        position: relative;
        z-index: 2;
    }

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .section-title span {
        font-size: 38px;
    }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
    text-align: center;
    height: 100%;
    background: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    transition: all ease-in-out 0.3s;
}

.service-item {
    flex-direction: column;
    /*text-align: center;
    border: 1px solid #fff;
    padding: 10px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;*/
}

.services img {
    width: 100%;
    height: 50%;
}

.services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

    .services .icon-box h4 a {
        color: #5f687b;
        transition: ease-in-out 0.3s;
    }

.services .icon-box div {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

@media (max-width: 575px) {
    .view-more {
        margin-top: unset;
    }
}

.cta {
    background: #16df7e;
    background-size: cover;
    padding: 60px 0;
}

    .cta h3 {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
    }

    .cta p {
        color: #fff;
    }

    .cta .cta-btn {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 4px;
        transition: 0.5s;
        margin-top: 10px;
        border: 2px solid #fff;
        color: #fff;
    }

        .cta .cta-btn:hover {
            background: #206bfb;
            border-color: #206bfb;
        }

/*--------------------------------------------------------------
