@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (User.Identity.Name != null)
    {
        <li>
            @if (User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "Customer")
            {
                <a asp-page="/Admin/CustomerPage/Details">@User.Identity.Name</a>
            }
            else if (User.FindFirst(claim => claim.Type == ClaimTypes.Role)?.Value == "Dentist")
            {
                <a asp-page="/Admin/DentistPage/Details">@User.Identity.Name</a>
            }
            else
            {
                <a>@User.Identity.Name</a>
            }

        </li>
        <li class="nav-item ml-3">
            <a asp-page="/Index" asp-page-handler="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Login">Login</a>
        </li>
    }
</ul>
