@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    @if (User.Identity.Name != null)
    {
        <li>
            <a>@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a asp-page="/Index" asp-page-handler="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Login">Login</a>
        </li>
    }
</ul>
